
{% extends "base.html"%}
{% block main_body %}
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-2 column">
			</div>
			<div class="col-md-6 agileinfo_banner_bottom_right">
				<div class="agileinfo_banner_bottom_right1">
					<h3>感谢访问</h3>
					<div style="text-align: center; margin: 48px">
						<span><a href="/accounts/login"><button class="btn-primary btn-lg">重新登陆</button></a></span>
						<span><a href="/index.html"><button class="btn-info btn-lg">回到首页</button></a></span>
					</div>

				</div>

			</div>
			<div class="col-md-4 column">
			</div>
		</div>
	</div>
<style>
	.form-group input{
		width: 100%;
		padding: .9em 1.5em;
		color: #999;
		font-size: 0.9em;
		border: 1px solid #ccc;
		outline: none;
		margin-bottom: 1em;
		border-radius: 25px;
	}
</style>
{% endblock main_body %}