<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7-dist/css/bootstrap.css">
	<script src="/static/js/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="/static/plugins/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
	<title>{{ title }}</title>
</head>
<body>
	<div class="outer">
		<div class="">
			<h1>
				欢迎进入XX识字能力测试 <small>一个适合3-9岁儿童的词汇量测试</small>
			</h1>
		</div>

		<div class="jumbotron">
			<div><h2>
			指导语
			</h2>
			<p>
				【{{ userName }}】小朋友，你好！快来用你学会的知识拯救懒羊羊吧！<br>
				接下来，你会在屏幕上看到两个气球，点击你认识的字，把懒羊羊放出来。<br>
				注意，如果点到了错误的单词，灰太狼就会把小羊抓走哦！<br>
				<a class="btn" href="http://127.0.0.1:8000/trials">
					<button type="button" class="btn btn-lg btn-success">开始游戏>></button>
				</a>
{#				<button type="button" class="btn btn-lg btn-success"#}
{#						onclick="standardPost('/run_trials/',{'exam':{{exam_id}},'userName':'NoUser'})">开始游戏>></button>#}
			</p>
			</div>
			<div id="balloon_box" class="">
				<div id="wrap" class="animate__animated">
					<div class="balloon" id="balloon_left" onclick="onceClick('left', flagLeft)">
						<img src="/static/images/lazySheep.jpg"  width=75px height=75px>
					</div>
					<div class="balloon" id="balloon_right" onclick="onceClick('right', flagRight)">
						<img src="/static/images/caught.jpg"  width=75px height=75px>
					</div>
				</div>
				<link rel="stylesheet" href="/static/css/balloon.css">

				</div>

		</div>
	</div>
</body>
<style>
	.outer { height: 100%; padding: 100px 0 0; box-sizing: border-box ; position: relative; text-align: center}
	#wrap {
			cursor: pointer;
			padding-top: 20px;
			box-sizing: border-box;
			overflow: hidden;
		}
</style>
<script>
    function standardPost(url,args){
        let form = $("<form method='post'></form>"),
            input;
        form.attr({"action":url});
        input = $("<input type='hidden'>");
            input.attr({"name":'csrfmiddlewaretoken'});
            input.val('{{ csrf_token }}');
            form.append(input);
        $.each(args,function(key,value){
            input = $("<input type='hidden'>");
            input.attr({"name":key});
            input.val(value);
            form.append(input);
        });
        form.appendTo(document.body);
        form.submit();
        document.body.removeChild(form[0]);
    }
</script>
</html>